<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet"
          type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.1/umd/popper.min.js"
            th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script type="text/javascript"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <script th:inline="javascript">
        $(document).ready(function () {
            setInterval(function(){
                   update('/currentPrice')
               }, 1000);

        });

        function update(url, fragmentId) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function (result) {
                    console.log(result);
                    $('#currentPrice').html(result);
                }
            });
        }
    </script>
</head>
<body>
<h2>History Per Day</h2>
<div class="">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <form th:action="@{/historyByDate}" method="get">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label class="control-label">Time from</label>
                                <input class="form-control form-control-sm" type="date" name="dateFrom">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label class="control-label">Time To</label>
                                <input class="form-control form-control-sm" type="date" name="dateTo">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label class="control-label">Accuracy</label>
                                <select name="accuracy" class="form-control form-control-sm">
                                    <option value="DAYS">Days</option>
                                    <option value="HOURS">Hours</option>
                                    <option value="MINUTES">Minutes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Search">
                </form>
            </div>
            <div class="col-6">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6"></div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <label class="control-label">Current Price: <span id="currentPrice"></span></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col" th:unless="${#lists.isEmpty(data)}">
    <table class="table table-sm table-hover table-striped datatables table-responsive-sm table-responsive-md">
        <thead>
        <tr>
            <th>A/A</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="d, it : ${data}">
            <td th:text="${it.count}">IE015</td>
            <td th:text="${d.open}">IE015</td>
            <td th:text="${d.high}">IE015</td>
            <td th:text="${d.low}">IE015</td>
            <td th:text="${d.close}">IE015</td>
            <td th:text="${d.time}">10/10/2017</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>